.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem 0rem;
}

.header__logo {
    max-width: 10rem;
}

.header__btn {
    padding: .4rem 1rem;
    color: var(--clr-white);
    border: none;
    border-radius: .2rem;
    font-weight: 900;
    background-color: red;
    cursor: pointer;
}