.row {
    position: relative;
    margin-top: -4rem;
    margin-bottom: 6.5rem;
    padding-left: 2.5rem;
    color: var(--clr-white);
    z-index: 1;
}

.row__title {
    font-family: var(--ff-sans);
    font-size: 1.5rem;
    font-weight: 500;
}

.row__posters {
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

.row__posters::-webkit-scrollbar {
    display: none;
}

.row_row__posters {
    display: flex;
    /* overflow-y: hidden;
    overflow-x: hidden; */
    padding-top: .8rem;
    padding-bottom: 1.5rem;
    gap: .5rem;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 700ms;
}

.row__poster {
    width: 100%;
    max-height: 10rem;
    object-fit: contain;
    border-radius: .2rem;
    transition: transform 450ms;
}


.row__poster:hover {
    transform: scale(1.03);
}

.row__postersLarge {
    max-height: 15rem;
}

.row__postersLarge:hover {
    transform: scale(1.05);
}

.row:hover .goPrev__btn,
.row:hover .goNext__btn {
    visibility: visible;
}

.goPrev__btn,
.goNext__btn {
    visibility: hidden;
    display: block;
    border: none;
    background: none;
    color: var(--clr-white);
    cursor: pointer;
}

.goPrev__btn:hover,
.goNext__btn:hover {
    color: red;
}

.goPrev__btn {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.goNext__btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}