:root {
  --clr-white: #FFFFFF;
  --clr-black: #000000e0;
  --clr-bg-black: #000000;
  --clr-grey: #808080;
  --clr-backdrop: #111111;
  --ff-bebas: 'Bebas Neue', sans-serif;
  --ff-sans: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: 'Helvetica Neue', sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--clr-backdrop);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

#root,
#__next {
  isolation: isolate;
}

.pageNotFound {
  font-size: 2rem;
  text-align: center;
  margin: 5rem auto;
  color: var(--clr-grey);
}